<% card_class = @dark_theme ? 'w-100 card rounded-0 bg-dark text-light' : 'w-100 card rounded-0' %>
<div class='container'>
  <div class='row'>
    <div class="<%= card_class %>">
      <div class='card-body container'>
        <div>
        <h5> Trends Now... </h5>
        <% @top_ten_hash_tags.each do | hash_tag | %>
          <br><a href="<%= tweets_hash_tag_path(hash_tag.name) %>">
            <%= hash_tag.name %> <br>
          </a>
          <%= hash_tag.tweets.size %> tweets<br>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>