<div class='w-100 mb-3'>
  <%= render "components/flash_dialog" %>
  <%= render "components/replies", context: :parent, tweet: @tweet %>
  <%= render "components/content_card", context: :edit, tweet: @tweet %>
  <%= render "components/replies", context: :show, tweet: @tweet %>
</div>