<div class='mt-3 w-100'>
    <%= render "components/form_card", newModel: @newTweet, context: :tweet, headerString: 'Tweet Someting' %>
</div>
<% @tweets.sort_by{ |tweet| tweet.updated_at }.reverse.each do |tweet| %>
    <div class='mt-3 w-100'>
        <%= render "components/content_card", tweet: tweet, context: :index, commentNumber: @commentsHash[tweet.id].size %>
    </div>
    <% @commentsHash[tweet.id].each do |comment| %>
        <% if comment.id == @commentsHash[tweet.id][-1].id %>
            <%= render "components/comment_card", comment: comment, context: :last %>
        <% else %>
            <%= render "components/comment_card", comment: comment, context: :show %>
        <% end %>
    <% end %>
<% end %>
