<div class='mt-3 w-100'>
    <%= render "components/form_card", newModel: @newTweet, context: :tweet, headerString: 'Tweet Someting' %>
</div>
<% @tweets.each do |tweetHash| %>
    <div class='mt-3 w-100'>
        <%= render "components/content_card", tweet: tweetHash[:tweet], context: :index, replyNumber: tweetHash[:count], retweet: tweetHash[:retweet] %>
    </div>
    <%= render "components/replies", replies: tweetHash[:replies], context: :index %>
<% end %>