<div class='mt-3 mb-3 w-100'>
    <%= render "components/form_card", context: :tweet, newModel: @newTweet, headerString: 'Tweet Someting' %>
</div>
<%= render "components/flash_dialog" %>
<% @tweets.each do |tweet| %>
    <div class='mb-3 w-100'>
        <%= render "components/content_card", context: :index, tweet: tweet %>
        <%= render "components/replies", context: :index, tweet: tweet %>
    </div>
<% end %>

